body {
    position: relative;
    overflow-x: hidden;
        background-color: #000;

}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.container {
    padding: 0;
}

.main-container {
    height: 100vh;    
}

.logok{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logok img {
    width: 250px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out ;
}

#header_nav {
    z-index: 9999;
    width:100%;
    height:100vh;
    background-color:#000;
    position: relative;
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out ;
    margin-bottom: 0;
}

.body-content.padding {
    padding-top: 80px;
}

#header_nav.shrink {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
}

#header_nav.shrink .logok img {
    width: 40px;
    top: 15px;
}

#myCarousel {
    box-sizing: content-box;
    padding: 0;
    position: relative;
    max-height: 550px;
    max-width: 100%;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.follow-btn {
    z-index: 2;
    position: absolute;
    bottom: 63px;
    right: 0;
    height: 350px;
    width: 60px;
    background-color: #E74133;
    color: #FFFFFF;
    -webkit-transition: transform 1s ease;
    transition: transform 1s ease;
}

.follow-btn:hover {
    transform: translateX(-68px);
}

.follow-btn h3 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-top: 136px;
    line-height: 1;
    height: 60px;
    width: 71px;
}

.follow-btn .follow-list {
    position: absolute;
    top: 0px;
    right: -68px;
    height: 350px;
    width: 68px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #E74133;
}

.follow-btn .follow-list .facebook-logo {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/facebook-logo .png');
}
.follow-btn .follow-list .twitter-logo {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/twitter-logo.png');
}
.follow-btn .follow-list .instagram-logo {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/instagram-logo.png');
}
.follow-btn .follow-list .pinterest-logo {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/pinterest-logo.png');
}
.follow-btn .follow-list .tumbler-logo {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/tumbler-logo.png');
}
.newsletter {
        margin-top: 40px;
    background-color: #E74133;
    position: relative;
    width: 680px;
    left:30%;
}
.newsletter .arrow-right {
    color: #FFFFFF;
    position: absolute;
    top: 102px;
    left: 504px;
    cursor: pointer;
}
.newsletter h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 38px;
    margin-bottom: 30px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.newsletter input[type=email] {
    display: block;
    font-family: ProximaNova, Arial, sans-serif;
    margin: 0 auto 40px auto;
    height: 40px;
    width: 380px;
    padding-left: 8px;
    padding-right: 36px;
    background-color: #E74133;
    border: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
}

.newsletter input[type=submit] {
    position: absolute;
    top: 92px;
    height: 36px;
    width: 36px;
    left: 492px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    outline: 0;
}

footer {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 0;
}

footer .footer-content {
    display: block;
    background-color: #E74133;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
